.home-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home-title {
    color: var(--text);
    font-size: 68px;
    text-align: center;
    text-shadow: var(--shadow);
}

