.button-component{
    border: 3px solid var(--border-dark);
    font-size: 20px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--secondary);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    box-shadow: var(--shadow);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.button-component:hover {
    background-color: var(--secondary-hover);
    transform: scale(1.1);
    
}